.App {
  text-align: center;
  background-image: url('./images/pvpokebg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  minimum-height: 100vh;
  height: 100vh;
}

nav {
  background-color: white;
}
.app-logo {
  width: 100px;
}

footer {
  font-size: 10px;
}