.App {
  text-align: center;
  background-image: url('./images/pvpokebg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  minimum-height: 100vh;
  height: 100vh;
}

.nav-container {
  background-color: white;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav {
  justify-content: space-around;
}
.app-logo {
  width: 100px;
  max-height: 80px;
  padding: 5px;
}

footer {
  font-size: 10px;
}